<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Skystore</h5>
    <nav class="nav nav-pills ms-5 gap-2">
        <a class="nav-item  btn btn-outline-primary" href="/">
            <i class="bi bi-house-door me-2"></i>Каталог</a>
        <a class="nav-item  btn btn-outline-primary" href="/contacts/">
            <i class="bi bi-person-circle me-2"></i>Контакты</a>
        <a class="nav-item btn btn-outline-primary" href="{% url 'catalog:add_product' %}">
            <i class="bi bi-plus-circle me-2"></i>Добавить товар</a>
    </nav>
</div>